:root {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    --speed: 300s;
}

.crypto-ticker {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-left: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ticker {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 100%;


    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: ticker;
    -webkit-animation-duration: var(--speed);
}

.crypto-element {
    display: grid,
    align-items: center;
    padding: 1rem;
    margin-top: .5rem:
    /* margin-right: 5px; */
}

.logo-class {
    color: azure;
    display: inline-block;
    white-space: nowrap;
}

.image-class {
    align-self: center;
    height: 30px;
    width: 30px;
}

.info-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.price-class {
    color: azure;
    white-space: nowrap;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}