:root {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    --speed: 500s;
}

.crypto-ticker {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-left: 100%;
}

.ticker {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 100%;

    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: ticker;
    -webkit-animation-duration: var(--speed);
}

.crypto-element {
    display: grid,
    align-items: center;
    padding: 2rem;
    margin-right: 10px;
}

.logo-class {
    color: azure;
    display: inline-block;
}

.image-class {
    height: 30px;
    width: 30px;
}

.price-class {
    color: azure;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}